body,
html {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #808080;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Comments */

#chat {
    margin-bottom: 20px;
}

.comment {
  border-top: 1px solid #efefef;
  padding: 12px;
  width: 400px;
  word-break: break-all;
  opacity: 0.9;
  transition: 0.3s;
  border-left: 1px solid #efefef;
  border-right: 3px solid #0693eb;
}

.comment:last-child {
  border-bottom: 1px solid #efefef;
}

.comment:hover {
  background-color: #f3f2ed;
  opacity: 1;
}

/* Comment Form */
#new-comment {
    margin-bottom: 20px;
}

label {
  font-size: 0.9rem;
  font-weight: 700;
}

input {
  display: block;
  border: 1px solid #efefef;
  height: 24px;
  width: 400px;
  margin-bottom: 12px;
  padding: 12px;
}

textarea {
  display: block;
  border: 1px solid #efefef;
  width: 400px;
  height: 200px;
  margin-bottom: 12px;
  resize: none;
  padding: 12px;
}

/* Button */
button {
    background-color: #0693eb;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    letter-spacing: .0892857143em;
    line-height: inherit;
    min-width: 64px;
    outline: none;
    text-transform: uppercase;
    user-select: none;
}

button:hover {
    background-color: #2fa3ea;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}