body,
html {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #808080;
}

label {
  font-size: 0.9rem;
  font-weight: 700;
}

input {
  display: block;
  border: 1px solid #efefef;
  height: 24px;
  max-width: 400px;
  width: 100%;
  margin-bottom: 12px;
  padding: 12px;
}

.form-container {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  display: block;
  border: 1px solid #efefef;
  width: 400px;
  max-width: 400px;
  height: 200px;
  margin-bottom: 12px;
  resize: none;
  padding: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  border-top: 1px solid #efefef;
  padding: 12px;
  width: 500px;
  word-break: break-all;
  opacity: 0.9;
  transition: 0.3s;
  border-left: 1px solid #efefef;
  border-right: 3px solid #0693eb;
}

.comment:last-child {
  border-bottom: 1px solid #efefef;
}

.comment:hover {
  background-color: #f3f2ed;
  cursor: pointer;
  opacity: 1;
}

.meta {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.comment .user,
.comment .date {
  margin: 0;
}

.comment .date {
  margin-left: 10px;
}

.comment .message {
  margin-top: 10px;
}

.comment.comment {
  margin: 10px;
  padding: 10px;
}

.comment .submit-comment {
  float: right;
  padding: 1rem;
}